.check[type = "checkbox"] {
  --size: 30px;
  --color: var(--federal-blue);

  appearance: none;
  width: var(--size);
  height: var(--size);
  border: 2px solid var(--color);
  border-radius: 5px;
  padding: .6rem;
  box-shadow: 0 0 0 6px field inset;


  &:checked {
    background: var(--color);
  }
}

select {
  /* 1. Eliminar estilos nativos (crucial) */
  -webkit-appearance: none; /* Para Chrome y Safari */
  -moz-appearance: none;    /* Para Firefox */
  appearance: none;
  
  /* 2. Propiedades básicas */
  /* border: 2px solid var(--federal-blue); */
  /* padding: .8rem; */
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

option{
  /* 1. Eliminar estilos nativos (crucial) */
  -webkit-appearance: none; /* Para Chrome y Safari */
  -moz-appearance: none;    /* Para Firefox */
  appearance: none;

  /* font-weight: bold; */
  background-color: var(--light-cyan);
  border: none;
}